<ion-view style="" class=" " id="page4" title="Cardápio">
    <ion-content class="has-header" padding="true">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Semana
          </div>
          <select>
            <option selected>2 Sem/08</option>
            <option>3 Sem/08</option>
            <option>4 Sem/08</option>
            <option>1 Sem/09</option>
          </select>
        </label>
      </div>

      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label"> Dia </div>
          <select>
            <option selected>Segunda-Feira</option>
            <option>Terça-Feira</option>
            <option>Quarta-Feira</option>
            <option>Quinta-Feira</option>
            <option>Sexta-Feira</option>
          </select>
        </label>
      </div>

      <div class="list">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-fork"></i>
          Prato Base
          <p>
            Arroz Branco e Feijão Tradicional
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-android-restaurant"></i>
          Prato Principal
          <p>
            Almondegas ao Sugo
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-ios-nutrition"></i>
          Prato Vegetariano
          <p>
            Almondegas Veganas
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-plus-circled"></i>
          Guarnição
          <p>
            Torta de Legumes
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-leaf"></i>
          Salada
          <p>
            Alface e Beterraba Ralada
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-icecream"></i>
          Sobremesa
          <p>
            	Maçã
          </p>
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-beer"></i>
          Suco
          <p>
            	Limão
          </p>
        </a>
      </div>
    </ion-content>
</ion-view>
