<ion-view style="" class=" " id="page6" title="Envio" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 class=" " style="color: rgb(0, 0, 0);" id="envio-heading2">Enviando sua solicitação</h4>
        <div style="width: 293px; height: 43px;" class="spacer"></div>
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/loadingru.gif" height="auto" width="100%">
        </div>
        <div style="width: 293px; height: 43px;" class="spacer"></div>
        <button class=" button button-assertive  button-block icon-left ion-android-cancel " id="envio-button10">Cancelar</button>
    </ion-content>
</ion-view>
