<ion-view style="" class=" " id="page3" title="Pendentes">
  <ion-content class="has-header" padding="true">
  <ion-list>
    <ion-item>
      <div class="row">
        <div class="col col-80">
          <strong>30/08 - Segunda Feira</strong>
        </div>
        <div class="col col-20">
          <strong>3,00<strong>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="row">
        <div class="col col-80">
          <strong>31/08 - Terca Feira</strong>
        </div>
        <div class="col col-20">
          <strong>3,00<strong>
        </div>
      </div>
    </ion-item>
  </ion-list>



  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-90">
        <strong>Exibir Pagas</strong>
      </div>
      <div class="col col-10">
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
