<ion-view style="background-color: #2a3d54;" class=" " id="page3" title="Pendentes">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
    <ion-content class="has-header" scroll="true" padding="true" ng-controller="pendentesCtrl" >
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="tel" ng-model="numCartao" ng-change="changeCartao()" placeholder="Número do Cartão" >
        </label>
      </div>

      <div class="list card" ng-if="existeRef" >
        <div class="item" ng-repeat="ref in refeicoes">
          <h2>{{ref.dia}}</h2>
          <p>R${{ref.valor}}</p>
        </div>
      </div>
      <div class="list card" ng-if="!existeRef">
        <div class="item item-icon-left">
          <ion-spinner ng-if="loadPend"></ion-spinner>        <i class="icon ion-alert" ng-if="!loadPend"></i>
          <h2>Não há reservas para mostrar</h2>
        </div>
        <div class="item item-body">
    <p>
      A sua reserva pode não ter sido efetuada com sucesso ou existe
      um problema de conexão com o servidor.
    </p>
      </div>
    </ion-content>
</ion-view>
