<ion-view style="background-color: #2a3d54;" class=" " id="page2" title="Reservar">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
    <ion-content class="has-header" scroll="false" padding="true" ng-controller="reservarCtrl" >
        <h5 class=" " style="color: #ffffff" id="reservar-heading1">Semana do dia {{weekFirst| date:'dd/MM'}} a {{weekLast| date:'dd/MM'}}:</h5>
        <div class=" button-bar " id="reservar-button-bar1">
            <button ng-click="selectDay(0)" class=" button {{weekDays[0].dClass}}  button-block" id="reservar-button-seg">S</button>
            <button ng-click="selectDay(1)" class=" button {{weekDays[1].dClass}}  button-block" id="reservar-button-ter">T</button>
            <button ng-click="selectDay(2)" class=" button {{weekDays[2].dClass}}  button-block" id="reservar-button-quar">Q</button>
            <button ng-click="selectDay(3)" class=" button {{weekDays[3].dClass}}  button-block" id="reservar-button-quin">Q</button>
            <button ng-click="selectDay(4)" class=" button {{weekDays[4].dClass}}  button-block" id="reservar-button-sex">S</button>
        </div>
        <form name="ReservaForm" class="list " id="reservar-form2" novalidate>
            <div style="width: 300px; height: 37px;" class="spacer"></div>
            <label id="reservar-input1" class="item item-input" ng-class="{'cpf-error':ReservaForm.requiredCpf.$invalid && ReservaForm.requiredCpf.$dirty, 'cpf-right':ReservaForm.requiredCpf.$valid && ReservaForm.requiredCpf.$dirty && !ReservaForm.requiredCpf.$touched }">
                <span class="input-label">CPF</span>
                <input placeholder="Somente números" type="text" name="requiredCpf" ng-model="requiredCpf" ng-cpf required>
            </label>
            <label id="reservar-input2" class="item item-input ">
                <span class="input-label">Número do cartão</span>
                <input placeholder="****" type="number" ng-model="numCartao" required>
            </label>
            <!--<div>CPF:{{ReservaForm.requiredCpf.$valid}} {{weekDays}}</div>-->
            <ion-toggle class=" " name="Lembrar" id="reservar-toggle1" toggle-class="toggle-positive" ng-model="buttonLembrar">Lembrar</ion-toggle>
            <div style="width: 300px; height: 37px;" class="spacer"></div>
            <button ladda="loading" class=" button button-positive  button-block" style="font-weight:500;" id="reservar-button-submit" ng-disabled="timeLeft>0" ng-click="doLogin()">Reservar</button>
        </form>
    <!--    <a class=" button button-positive  button-block" style="font-weight:500;" id="reservar-button-submit" ng-disabled="timeLeft>0" ng-click="doLogin()">Reservar</a>
-->
        <p class=" " ng-hide="timeLeft<=0" style="color:#FF0000;" id="reservar-markdown1">Você poderá reservar em
            <strong timer interval="1000" finish-callback="doLogin()"countdown="timeLeft">{{days}} dia{{daysS}}, {{hours}} hora{{hoursS}}, {{minutes}} minuto{{minutesS}}, {{seconds}} segundo{{secondsS}}.</strong>
        </p>
    </ion-content>
</ion-view>
