<ion-view style="" class=" " id="page2" title="Reservar">
    <ion-content class="has-header" scroll="false" padding="true" ng-controller="reservarCtrl" >
        <h5 class=" " style="color: rgb(0, 0, 0);" id="reservar-heading1">Semana do dia 00/00 a 00/00:</h5>
        <div class=" button-bar " id="reservar-button-bar1">
            <button ng-click="selectDay(0)" class=" button {{dclass[0]}}  button-block" id="reservar-button-seg">S</button>
            <button ng-click="selectDay(1)" class=" button {{dclass[1]}}  button-block" id="reservar-button-ter">T</button>
            <button ng-click="selectDay(2)" class=" button {{dclass[2]}}  button-block" id="reservar-button-quar">Q</button>
            <button ng-click="selectDay(3)" class=" button {{dclass[3]}}  button-block" id="reservar-button-quin">Q</button>
            <button ng-click="selectDay(4)" class=" button {{dclass[4]}}  button-block" id="reservar-button-sex">S</button>
        </div>
        <form name="ReservaForm" class="list " id="reservar-form2" novalidate>
            <div style="width: 300px; height: 37px;" class="spacer"></div>
            <label id="reservar-input1" class="item item-input ">
                <span class="input-label">CPF</span>
                <input placeholder="Somente números" type="text" name="requiredCpf" ng-model="requiredCpf" ng-cpf ui-mask="999.999.999-99" required>
            </label>
            <label id="reservar-input2" class="item item-input ">
                <span class="input-label">Número do cartão</span>
                <input placeholder="****" type="number" required>
            </label>
            <!--<div>CPF:{{ReservaForm.requiredCpf.$valid}} {{dclass}}</div>-->
            <ion-toggle class=" " name="Lembrar" id="reservar-toggle1" toggle-class="toggle-positive">Lembrar</ion-toggle>
            <div style="width: 300px; height: 37px;" class="spacer"></div>
        </form>
        <a class=" button button-positive  button-block  button-outline " style="font-weight:500;" id="reservar-button-submit" ui-sref="tabsController.envio">Reservar</a>
        <p class=" " style="color:#FF0000;" id="reservar-markdown1">Você poderá reservar em
            <strong>0h33m16s</strong>
        </p>
    </ion-content>
</ion-view>
