<ion-view class=" " style="background-color: rgb(54, 136, 155);" id="page5" title="Sobre">
    <ion-content class="has-header" padding="false">
        <div id="sobre-card21" class="list card ">
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/C3h5P1x3SXapNCvsdDNk_Ltia-Logo-Horizontal.png" height="auto" width="100%">
            </div>
            <ion-item style="" id="sobre-list-item17" class="balanced  ">Desenvolvido por:</ion-item>
            <ion-item style="" id="sobre-list-item15" class="item-avatar  ">
                <img src="img/3cLo8z7pRWe3EvA8XACx_13138737_1096338497071735_1029712195994550305_n.jpg">
                <h2>Luccas Quadros</h2>
            </ion-item>
            <ion-item style="" onclick="window.open('https://github.com/luccasqdrs/App-RU', '_system', 'location=yes'); return false;" href="#" id="sobre-list-item16" class="item-icon-left positive  ">
                <i class="icon ion-social-github"></i>Github</ion-item>
        </div>
    </ion-content>
</ion-view>
