<ion-view class=" " style="background-color: #2a3d54;" id="page5" title="Sobre">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
    <ion-content class="" scroll="true" padding="false">
        <div id="sobre-card21" class="list card ">
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/C3h5P1x3SXapNCvsdDNk_Ltia-Logo-Horizontal.png" height="auto" width="100%">
            </div>
            <div class="item item-body">
              <p>
                Aplicativo desenvolvido no Laboratório de Tecnologia da Informação Aplicada.
                Este é um aplicativo não oficial que utiliza dados do sistema de propriedade da UNESP. O desenvolvedor não é responsável por seu conteúdo.
              </p>
          </div>
            <ion-item style="" id="sobre-list-item17" class="balanced  ">Desenvolvido por:</ion-item>
            <ion-item style="" id="sobre-list-item15" class="item-avatar" onclick="window.open('https://github.com/luccasqdrs/App-RU', '_system', 'location=yes'); return false;" href="#">
                <img src="img/quadros.jpg">
                <h2>Luccas Quadros</h2>
            </ion-item>
            <ion-item style="" id="sobre-list-item17" class="balanced  ">Coordenado por:</ion-item>
            <ion-item style="" id="sobre-list-item15" class="item-avatar" onclick="window.open('https://github.com/mcsolha/', '_system', 'location=yes'); return false;" href="#">
                <img src="img/solha.jpg">
                <h2>Matheus Solha</h2>
            </ion-item>
            <ion-item style="" onclick="window.open('https://github.com/luccasqdrs/App-RU', '_system', 'location=yes'); return false;" href="#" id="sobre-list-item16" class="item-icon-left positive  ">
                <i class="icon ion-social-github"></i>Projeto no Github</ion-item>
        </div>
    </ion-content>
</ion-view>
