<ion-view style="" class=" " id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-positive tabs-icon-top ">
        <ion-tab class=" " id="tabsController-tab1" title="Reservar" icon="ion-android-calendar" href="#/page1/reservar">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab2" title="Pendente" icon="ion-ios-cart" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab4" title="Sobre" icon="ion-ios-information-outline" href="#/page1/page5">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
